@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-image {
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-kids-background-picture-image_693502.jpg"); */
  background-image: url("https://image.slidesdocs.com/responsive-images/background/minimalist-flat-style-mathematics-subject-for-high-school-9th-grade-geometry-geometric-powerpoint-background_1e7eac9470__960_540.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}